@charset "UTF-8";


body{
    
    
}

*{
    box-sizing: border-box;
}

main {
    margin: auto;
    padding: 10px;
    background: black;
    
}

header, main, nav, article, section, footer {
    border: 1px solid grey;
    padding: 10px;
}

article {
    /*szülőelem*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    background: white;
    
   
}
    
section{
    /*gyerekelem*/
    /*flex: 1 0 25%; /* utolsó param., 25%: minden egyes section elem mérete, szülőelem*0.25*/
    /*első parmaméter, 1: egymás melletti oszlopok egyforma szélességűek*/
    
  flex: 1 1 20%;   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  }

section img{
    height: 200px;
    
}


nav{
    display: flex;
    justify-content: space-between;
}
footer nav{
    display: flex;
    justify-content: center;
    
}

footer nav a {
    padding: 10px;
}

nav #jobb {
    display: flex;
    flex-direction: row-reverse; /*fordított sorrend kialakítása*/
       
}

nav #jobb a{
     padding: 5px;
}

/*
id nélküli mego:

nav div:nth child(2){
display: flex;
flex-direction: row-reverse;

}
*/
    


/*
@media screen and (max-width: 600px){
    main{
        display: flex;
        flex-direction: column;
    }
    section{
        flex: 1 1 100%; 
    }
}  

*/

@media screen and (max-width: 900px){
    
    section{
        flex: 1 1 33.3333%; 
    }
}  


@media screen and (max-width: 700px){
    
    section{
        flex: 1 1 100%; 
    }
    
    
    nav #jobb{       
    flex-direction: column-reverse;
}

}  